<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% if page.title %}
    		    {{ site.title }} | {{ page.title }} 
  			{% else %}
    			{{ site.title }}
  			{% endif %} </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <h1> <a href="index.html">Kristýna Kramer</a></h1>
        <ul>
            <li class="section-title"><a href="data-home.html">DATA</a></li>
            <li class="subsection"><a href="data-home.html" class="{% if page.url contains '/data-home' %}active{% endif %}">Home</a></li>
            <li class="subsection"><a href="data-portfolio.html">Portfolio</a></li>
            <li class="subsection"><a href="data-certificates.html">Certificates</a></li>
            <li class="section-title"><a href="math-home.html">MATH</a></li>
            <li class="subsection"><a href="math-home.html">Home</a></li>
            <li class="subsection"><a href="math-research.html">Research</a></li>
            <li class="subsection"><a href="math-teaching.html">Teaching</a></li>
            <li class="section-title"><a href="blog-home.html">BLOG</a></li>
        </ul>
    </nav>

    <main>
       
        {{ content }}
    </main>
</body>
</html>
